$break-mobile: 600px;
$containerPadding: 5vmin 10vmin;
$black: #212121;
$grey: 464646;

@mixin borderRadius {
  -webkit-border-radius: 10vmin;
  -moz-border-radius: 10vmin;
  border-radius: 10vmin;
}

#landingPage {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* Header */
  #heroContainer{
    height: 100vmin;
    background-image: linear-gradient(57deg, #414e9f, #bc0b16);
    // background: url('/images/adobe-stock.png') no-repeat center;
    background-size: cover;

    .hero-content {
      color: #fff;
      padding: 5vmin 10vmin;
      @media screen and (max-width: $break-mobile) {
        padding: 5vmin;
      }
      nav {
        a {
          vertical-align: top;
          &.logo {
            text-transform: uppercase;
            font-size: 4.5vmin;
            color: #fff;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            @media screen and (max-width: $break-mobile) {
              img {
                padding-right: 0.5vmin;
                width: 10%;
              }
            }
          }
          &.sign-in, &.sign-up {
            width: 12vmin;
            text-align: center;
            float: right;
            padding: 1.5vmin;
            margin-left: 2vmin;
            background: #fff;
            @include borderRadius;
            color: red;
            border: 2px solid #fff;
            @media screen and (max-width: $break-mobile) {
              width: 20vmin;
              font-size: 3.5vmin;
              padding: 1vmin;
            }
          }
          &.sign-in {
            background: rgba(255, 255, 255, 0.6);
          }
        }
        span.beta-tag {
          display: inline-block;
          width: 7vmin;
          padding: 0.35vmin;
          font-size: 1.5vmin;
          font-weight:300;
          background: #fff;
          color: $black;
          text-align: center;
          @include borderRadius;
          vertical-align: top;
          margin-top: 2vmin;
          margin-left: 1vmin;
        }
      }

      #ctaContent {
        margin-top: 15%;
        h1 {
          margin: 0 0 3vmin 0;
          font-size: 6vmin;
        }
        p {
          font-size: 3.25vmin;
          line-height: 5vmin;
          @media screen and (max-width: $break-mobile) {
            font-size: 4vmin;
          }
        }
      }
    }
  }

  .product-desc {
    text-align: center;
    #sectionTitle {
      margin: 0;
      font-size: 10vmin;
      margin-bottom: 5vmin;
    }
    p {
      font-size: 3vmin;
      line-height: 4.5vmin; 
      @media screen and (max-width: $break-mobile) {
        font-size: 4vmin;
        line-height: 6vmin;
        text-align: center;
      }
    }
  }

  /* Section */
  .section-container.last-of {
    margin-bottom: 10vmin;
  }
  .section-container {
    padding: $containerPadding;

    .section-content {
      div {
        display: inline-block;
        margin: 2vmin;
        width: 50%;
        @media screen and (max-width: $break-mobile) {
          width: 100%;
        }
      }
      h2 {
        font-size: 6vmin;
        color: $black;
        margin-top: 0;
        margin-bottom: 10px;
        @media screen and (max-width: $break-mobile) {
          text-align: center;
        }
      }

      p {
        font-size: 3vmin;
        line-height: 4.5vmin;
        color: $grey;
        margin-bottom: 2.5vmin;
        @media screen and (max-width: $break-mobile) {
          font-size: 4vmin;
          line-height: 6vmin;
        }
      }
      .img-container {
        text-align: center;
        width: 35%;
        img {
          width: 75%;
        }
        @media screen and (max-width: $break-mobile) {
          width: 100%;
        }
        //Shitty work around for mobile
        &.shift-me {
          
          // @include media($mobile) {
            // margin-top: 55%;
          // }
        }
      }
      .content-shifted {
        // @include span-columns(6);
        //@include media($mobile) {
          // @include span-columns(12);
          // margin-bottom: 5vmin;
       // }
        &.shift-me {
          //@include media($mobile) {
            // @include shift(-12);
         // }
        }
      }
    }
  }

  /*Footer */
  #footer {
    text-align: center;
    background-image: linear-gradient(57deg, #414e9f, #bc0b16);
    padding: 10vmin 10vmin 15vmin 10vmin;
    color: #fff;
    h2 {
      font-size: 6vmin;
      margin-bottom: 3vmin;
    }
    .footer-desc{
      font-size: 4vmin;
      @media screen and (max-width: $break-mobile) {
        font-size: 3.5vmin;
        line-height: 5.5vmin;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    p {
      font-size: 2vmin;
    }
    #betaForm {
      margin-top: 5vmin;
      padding-bottom: 10vmin;
      border-bottom: 1px solid #fff;

      input {
        display: inline-block;
        width: 15%;
        padding: 2vmin 0;
        margin-right: 3vmin;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        @media screen and (max-width: $break-mobile) {
          width: 100%;
          margin-bottom: 8vmin;
        }
        &[type='submit'] {
          width: 15vmin;
          padding: 2vmin;
          background: #fff;
          color: $black;
          @include borderRadius;
          @media screen and (max-width: $break-mobile) {
            margin-top: 5vmin;
            margin-bottom: 0;
            width: 25vmin;
          }
        }
        &::-webkit-input-placeholder {
           color: #fff;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: #fff;  
        }

        &:-ms-input-placeholder {  
           color: #fff;  
        }
      }
    }
    .soical-links {
      margin-top: 10vmin;
      p {
        font-size: 2vmin;
        margin-bottom: 5vmin;
        font-weight: 400;
      }
      margin-bottom: 4vmin;
      i {
        margin-right: 1.5vmin;
      }
      .email:before {
        @include fontIcon($icon-email, 5.5vmin, #fff);
        margin-right: 1.25vmin;
      }
      .facebook:before {
        @include fontIcon($icon-facebook, 5.5vmin, #fff);
        margin-right: 1.25vmin;
      }
      .twitter:before {
        @include fontIcon($icon-twitter, 5.5vmin, #fff);
        margin-right: 1.25vmin;
      }
      .insta:before {
        @include fontIcon($icon-instagram, 5.5vmin, #fff);
        margin-right: 1.25vmin;
      }
    }
  }

  /* Buttons */
  .request-btn {
    background-color: #ffffff;
    border: none;
    padding: 2vmin;
    color: $black;
    display: inline-block;
    width: 40vmin;
    @include borderRadius;
    text-align: center;
    font-size: 4vmin;
    margin-top: 10vmin; // media-query needed

    &:hover {
      cursor: pointer;
    }
  }
}